body {
    margin-left: 10%;
    margin-right: 10%;
}

iframe {
    height: 400px;
    width: 800px;
}
.navbar {
    max-width: 1000px;
    margin-bottom: 0;
    background-color: #e74c3c;
    border-color: #c0932b;
    color: #FFFFFF;
    max-height: 50px;
}

.navbar-wrapper {
    max-height: 50px;
}

.navbar-header {
    line-height: 50px;
    margin-left: 15px;
    margin-bottom: 0px;
}

.container {
    max-width: 1000px;
    padding: 0px;
}

#hidden {
    visibility: hidden;
}

#main{
    background: #e4e4e4;
    text-align: center;
    max-width: 1000px;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 18px;
}

li {
    font-size: 18px;
}

#results {
    text-align: left;
}